#!/usr/bin/env python
# -*- coding: utf-8 -*-

from datacanvas.new_runtime import BasicRuntime, DataCanvas
from datacanvas.io_types import *


dc = DataCanvas(__name__)

@dc.hadoop_runtime(spec_json="spec.json")
def mymodule(rt, params, inputs, outputs):

    rt.execute_pig_filename("main.pig")
    print("Done")


if __name__ == "__main__":
    dc.run()

