{
    "Name" : "{{ Name }}",
    "Description" : "{{ Description }}",
    "Version" : "{{ Version }}",
    "CategoryTags": [],
    "Cmd" : "/usr/bin/python main.py",
    "Param" : { },
    "Input" : { },
    "Output" : { }
}
