#!/usr/bin/env python
# -*- coding: utf-8 -*-

from specparser import get_settings_from_file, PigRuntime


def main():
    settings = get_settings_from_file("spec.json")
    print(settings)

    pr = PigRuntime()
    pr.execute("main.pig")

    print("Done")

if __name__ == "__main__":
    main()
