#!/usr/bin/env python
# -*- coding: utf-8 -*-

from datacanvas import PigRuntime


def main():
    pr = PigRuntime()
    print(pr.settings)
    pr.execute("main.pig")

    print("Done")

if __name__ == "__main__":
    main()
