{
    "Name" : "{{ Name }}",
    "Description" : "{{ Description }}",
    "Version" : "{{ Version }}",
    "CategoryTags": [
        "Machine Learning", "R"
    ],
    "Cmd": "Rscript main.R",
    "Param": { },
    "Input": { },
    "Output": { }
}
