#!/usr/bin/env python
# -*- coding: utf-8 -*-


from datacanvas.new_runtime import GenericHadoopRuntime


def main():
    ejr = GenericHadoopRuntime()

    ejr.execute_hive_filename("main.hql")

    print("Done")


if __name__ == "__main__":
    main()
