#!/usr/bin/env python
# -*- coding: utf-8 -*-

from datacanvas import DatacanvasRuntime


def main():
    rt = DatacanvasRuntime()
    settings = rt.settings
    print(settings)

    # TODO: Add your code here

    print("Done")

if __name__ == "__main__":
    main()
